
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>Id</th>
        <th>Isım</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>İsim</td>
        <td><a href="#" class="btn btn-primary">Güncelle</a></td>

    </tr>
</table>

